body{
    background: #16264F;
    font-family: 'Kanit', sans-serif !important; 
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(22 38 79 / 50%);
  border-radius: 20px;
}

body::-webkit-scrollbar {
  width: 10px;
}